$vue-radial-progress-bar-color: $default-ui-color !default;
$vue-radial-progress-bar-start-color: $vue-radial-progress-bar-color !default;
$vue-radial-progress-bar-stop-color: $vue-radial-progress-bar-color !default;

$vue-radial-progress-bar-complete-color: $default-ui-color !default;
$vue-radial-progress-bar-complete-start-color: $vue-radial-progress-bar-complete-color !default;
$vue-radial-progress-bar-complete-stop-color: $vue-radial-progress-bar-complete-color !default;

$vue-radial-progress-bar-over-color: #ee3128 !default;
$vue-radial-progress-bar-over-start-color: $vue-radial-progress-bar-over-color !default;
$vue-radial-progress-bar-over-stop-color: $vue-radial-progress-bar-over-color !default;

$vue-radial-progress-bar-track-color: #ececec !default;
$vue-radial-progress-bar-complete-track-color: #ececec !default;
$vue-radial-progress-bar-over-track-color: #ececec !default;

.vue-radial-progress-bar-container {
  position: relative;
  
  .vue-radial-progress-bar-inner {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: 50%;
    margin: 0 auto;
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
  }
  
  .vue-radial-progress-bar-start-color {
    stop-color: $vue-radial-progress-bar-start-color;
  }
  
  .vue-radial-progress-bar-stop-color {
    stop-color: $vue-radial-progress-bar-stop-color;
  }
  
  .vue-radial-progress-bar-circle {
    stroke: $vue-radial-progress-bar-track-color;
  }
  
  &.vue-radial-progress-bar-complete {
    .vue-radial-progress-bar-start-color {
      stop-color: $vue-radial-progress-bar-complete-start-color;
    }

    .vue-radial-progress-bar-stop-color {
      stop-color: $vue-radial-progress-bar-complete-stop-color;
    }

    .vue-radial-progress-bar-circle {
      stroke: $vue-radial-progress-bar-complete-track-color;
    }
  }
  
   &.vue-radial-progress-bar-over {
    .vue-radial-progress-bar-start-color {
      stop-color: $vue-radial-progress-bar-over-start-color;
    }

    .vue-radial-progress-bar-stop-color {
      stop-color: $vue-radial-progress-bar-over-stop-color;
    }

    .vue-radial-progress-bar-circle {
      stroke: $vue-radial-progress-bar-over-track-color;
    }
  }
}
