// A collection of Sass functions and mixins used by Codelation
// https://codelation.com

// Used to set the max-width with the outer-container mixin
$max-width: 1024px !default;

$default-ui-color: #0366d6 !default;


// Used for has-cards, has-columns, and has-grid mixins. When the
// viewport reaches the mobile-breakpoint, the columns will be stacked.
$mobile-breakpoint: 767px !default;

@import "./base_resources/bourbon/bourbon";
@import "./base_resources/functions/**/*";
@import "./base_resources/mixins/**/*";
@import "./base_resources/normalize";
@import "./base_resources/turbolinks";

// Border Box by default for all elements
html { // http://bit.ly/1qk2tVR
  box-sizing: border-box;
}

* {
  &,
  &::after,
  &::before {
    box-sizing: inherit;
  }
}
