---
---

@import "{{ site.theme }}";

header {
  width: auto;
  float: auto;
  position: relative;

  h3 {
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: 3px;
    padding-bottom: 3px;
  }

  nav {

    & > div {
      padding: 5px 0;
    }
  }
}

section {
  width: auto;
  float: auto;
  padding-bottom: auto;
  flex: 5;
}

aside {
  margin-right: 30px;
  flex: 1;
}

.wrapper {
  display: flex;
}
